.pro01{/*nosso produtos*/
	width: 100%; float: left; height: auto;}
.pro01{	font-size: 35px; color:#FF4500 ; 
	padding-top: 20px;	padding-left: 20px;	padding-bottom: 15px;}
/* demosnstracao */
.amostra1 {	display: block;	text-align: center; }
.amostra2 {	display: inline-block;}
.imgamostra{border-radius: 25px;}
.pro2{/*torta*/
	padding-left: 40px;	font-size: 25px; color:#14465c ;text-align: left;}
.preco1{display: block;	text-align: center;}
.preco3{display: inline-block;	padding: 5px 15px;}
.preco3 a{border-radius: 5px; padding: 8px; color: #FF4500; }
.preco3 a:hover{background-color: #FF4500;color: #eee;} 
/* produto */
.produto1{float: left; height: auto; display: block;}
.produto2{display: inline-block;}
/* novidades */
.novidade1{	float: left; height: auto; display: block;}
.novidade2{	display: inline-block;}