#demosnstracao{
    height: auto;
    float: left;
}
#produtos{
    float: left;
    height: auto;
}
#produtos2{
    height: auto;
    float: left;
}
#novidades{
    float: left;
    height: auto;
}
.produto2 {
    text-align: center;
    padding: -6px;
    border-radius: 5px;
    border: solid 2px #eee;
}
.produto2 .img{
    min-height: 150px;
    height: auto;
    background-image: url(../img/produtos/produto01.jpg);
    background-position: center;
    background-size: cover;

}
.produto2 input ,.produto2 button{
border-radius: 5px;
padding: 8px;
  border: solid 2px #eee;
}
.produto2 button:hover{
    background:rgb(56, 233, 65) ;
    color: aqua;
}



#propaganda1{
    float: left;
    min-height: 160px;
    height: auto;
    background-image: url(../img/propaganda/p200x1000-01.jpg);
    /* background-size: cover; */
}
#propaganda2{
    float: left;
    min-height: 160px;
    height: auto;
    background-image: url(../img/propaganda/p200x1000.jpg);
}


footer{
    float: left;
    text-align: center;
}
