
#demosnstracao{
	background-color: rgb(73, 9, 194);
	height:auto;
}
.valor p input{
	margin: -2;
	padding:-10;
}
#produtos{
	height: auto;
}
/* .produtos .img{
	background-image: url(../img/produtos/bake-1003685_960_720.jpg);
	background-size: cover;
	background-position: center;
 } */

#propaganda1{

	background-image: url(../img/propaganda/p200x1000-01.jpg);	
	min-height: 160px;	
}
#propaganda2{
	background-image: url(../img/propaganda/p200x1000.jpg);
	
	min-height: 140px;

}
.propaganda3{
	background-image: url(../img/propaganda/p300x800-01.jpg);	
	background-size: cover;
	min-height: 533px;
}
#novidades{	
	height: auto;
}
.novidade1{ }
.areasocial{

	
}
.novidade2{
text-align: center;

}
footer{
	background-color: #20B2AA;
	height:auto;
	text-align: center;
	padding: 30px;

}

